<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>
<div class="container mt-4">
  <h1 class="mb-4">All Campgrounds</h1>

  <% for (let campground of campgrounds) { %>
  <div class="card mb-4">
    <div class="row">
      <div class="col-md-4">
        <% if (campground.images.length > 0) { %>
        <img class="img-fluid" src="<%= campground.images[0].url %>" />
        <% } else { %>
        <img
          src="https://res.cloudinary.com/davmazmnl/image/upload/v1705323413/YelpCamp/smxe8cyxf437ad8vdxtj.jpg"
          alt=""
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
            >View <%= campground.title %></a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
